h3 {
  margin-left: 28px;
}
nav {
  font-size: 20px;
}
a {
  color: rgb(100, 100, 100);
}
a:hover {
  color: #000;
}
a:visited {
  color: rgb(180, 180, 180);
}
ul {
  list-style-type: circle;
}

body {
  margin: 0;
}
