div {
  width: 300px;
  height: 100px;
  color: white;
  text-align: center;
  position: relative;
}
.div1 {
  background-color: #f5bcaf;
  top: 100px;
  /* 아래 z-index: 값 코드를 순서대로 주석 해제 해보기 */
  /* z-index: 10; */
  /* z-index: -10; */
}
.div2 {
  background-color: #f5d4af;
  width: 150px;
}
.div3 {
  background-color: #f5f0af;
  top: 100px;
  /* 아래 z-index: 값 코드를 순서대로 주석 해제 해보기 */
  /* z-index: 10; */
  /* z-index: -10; */
}
.div4 {
  background-color: #d2f5af;
  width: 150px;
}
