body {
  background-color: darkseagreen;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  margin-top: 50px;
  font-weight: 500;
}
#coffee,
#tea,
#water {
  color: red;
}
