.wrapper {
  width: 100%;
  justify-content: space-around;
}
.parent1 {
  color: green;
  border: solid;
  position: static;
  height: 300px;
}
.parent2 {
  color: red;
  border: solid;
  height: 100px;
  /* 아래 코드 주석 처리해주세요! */
  position: fixed;
  margin-top: 30px;
}
.child {
  color: blue;
  border: solid;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
}
div {
  width: 300px;
}
